html, body {
    height: 100%;        
    margin: 0;          
    padding: 0;
}

body{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-image: url(./assets/background.png);
    background-size: cover; 
    background-repeat: no-repeat;
}    

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
    margin: auto;
    margin-top: 90px ;
    width: 1000px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    background-color: #0b131e;
}
    
.city {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #202b3b;
    border-radius: 20px;
    margin-left: 8px ;
    margin-top: 15px ;
    padding: 20px;
    height: 200px;
    width: 600px;
}

#city-display {
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
    padding: 0 5px 5px 0;
    
}

#date {
    font-size: 14px;
    color: #aaa;
    margin-top: 8px;
    margin: 10px;
    padding: 0 5px 5px 0;
}

#temp{
    margin: 10px;
    padding: 0 5px 5px 0;
}

#weather-icon{
    margin-left: 400px;
    margin-top: -154px;
    font-size: 7em;
}


.search-box {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 10px;
}


#enter-city {
    padding: 10px 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    width: 450px;
    font-size: 14px;
    background-color: #0b131e;
    color: white;
    font-weight: 530;

}

#search {
    padding: 10px 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(31, 173, 245);
    transition: ease-in-out 0.2s;
    color: white;
    font-weight:500;
}

#search:hover{
    background-color: rgb(29, 142, 198);
}


#gps {
    border: none;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

#gps:hover{
    background-color: rgb(214, 214, 214);
}

/* --------------------------------------------------- */
.weather-condition {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 5;
    border-radius: 20px;
    background-color: #202b3b;
    margin-left: 8px ;
    height: 210px;
    width: 640px;
    margin-top: -30px;
    
}

.air-condition{
    display: flex;
    align-items: center;
    margin-left: 25px; 
}

.air-condition p{
    color: #aaa;
    font-weight: 500;
    font-size: 14px;
}

.weather-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
}

.stat1 {
    display: flex;
    flex-direction: column;
}

.label1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #aaa;
    margin-left: 25px;
    gap: 6px;
}

.value1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 45px;
}

.icons{
    width: 25px;
}

/* ---------------------------------------------------- */
.forecast {
    grid-column: span 2 / span 2;
    grid-row: span 7 / span 7;
    grid-column-start: 5;
    grid-row-start: 2;
    background-color: #202b3b;
    border-radius: 20px;
    margin-right: 11px ;
    margin-top: -60px;
    width: 300px;
    height: 450px;
}

.forecast p{
    color: #aaa;
    margin-left:20px ;
    font-size: 14px;
    font-weight: 500;
}

.weather-forecast {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    align-items: center;
    font-size: 14px;
    padding: 4px 12px;
    margin-bottom: -4px;
}

.stat2 span {
    text-align: left; 
}

.stat2 span:nth-child(2) {
    text-align: center; 
    margin-left: -20px;
}

.stat2 span:nth-child(3) {
    text-align: right; 
    margin-right: 4px;
}

hr{
    border: none;
    height: 0.5px;
    width: 90%;
    background-color: #aaa;
    margin: 10px;
}

        
        
        